<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des enseignants</h4>
      </div>

      <div class="col-4">
        <h4>Nombre des enseignants</h4>
      </div>



    </div>
  </div>

  <div class="card-body">
    <div class="container">
      <form [formGroup]="enseignantform" (ngSubmit)="submitEnseignant()">
        <div class="row">

        <div class="col-6">
          <label for="matricule" class="form-label">matricule</label>
          <input type="matricule" class="form-control"formControlName="matricule" id="matricule">
        </div>

        <div class="col-6">
          <label for="prenom" class="form-label">prenom</label>
          <input type="prenom" class="form-control"formControlName="prenom" id="prenom">
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <label for="nom" class="form-label">nom</label>
          <input type="nom" class="form-control"formControlName="nom" id="nom">
        </div>

        <div class="col-6">
          <label for="telephone" class="form-label">telephone</label>
          <input type="telephone" class="form-control"formControlName="telephone" id="number">
        </div>

        

         <div class="col-6">
          <label for="adresse" class="form-label">adresse</label>
          <input type="adresse" class="form-control"formControlName="adresse" id="adresse">
        </div>

      </div>

       <br>
      <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>


      </form>

    </div>

  </div>
</div>

