<div class="container mt-4">
  <h3>{{ mode === 'ajout' ? 'Ajouter un enseignant' : 'Modifier un enseignant' }}</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-3">
    <div class="mb-3">
      <label>Prénom</label>
      <input formControlName="prenom" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Nom</label>
      <input formControlName="nom" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Adresse</label>
      <input formControlName="adresse" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Téléphone</label>
      <input formControlName="telephone" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Date de naissance</label>
      <input type="date" formControlName="date_naissance" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
      {{ mode === 'ajout' ? 'Ajouter' : 'Mettre à jour' }}
    </button>
    <a routerLink="/enseignants" class="btn btn-secondary ms-2">Annuler</a>
  </form>
</div>
