<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container text-center text-md-start">
        <div class="row">
            <!-- À propos -->
            <div class="col-md-4 mb-3">
                <h5>ecole</h5>
            </div>

            <!-- Liens utiles -->
            <div class="col-md-4 mb-3">
                <h5>Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Accueil</a></li>
                    <li><a href="" class="text-white text-decoration-none">eleves</a></li>
                    <li><a href="/" class="text-white text-decoration-none">enseignant</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <p>Email : support agrilegeey.com</p>
                <p>Téléphone : +221 77 123 45 67</p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            © 2025 Agrilegeey. Tous droits réservés.
        </div>
    </div>
</footer>
