
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Footer en bas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #241f1f;
  padding: 18px;
  color: aliceblue;
  text-align: center;


}
footer button{
  border-radius: 14px;
  background-color: rgb(16, 148, 236);
  padding: 10px;
  color: aliceblue;
}


  </style>
</head>
<body>


    <footer class="footer">

      <button>Go somewhere</button>

    </footer>

</body>
</html>
