<div class="container mt-3">
  <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/femme-africaine-enseignants.png.jpg" class="d-block w-100 rounded-2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/2339734.jpg" class="d-block w-100 rounded-2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/femme-africaine.png.jpg" class="d-block w-100 rounded-2" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>

<div class="container mt-4">
  <div class="card-group">
  <div class="card">
    <img src="images/etudiants-connaissant-bonne-reponse_329181-14271.avif" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus fugiat excepturi! Sequi autem odit quidem quis nemo ullam consectetur voluptatibus. Fugiat quod aliquam ipsa vel cupiditate saepe officiis odit.</p>
    </div>
  </div>
  <div class="card">
    <img src="images/gens-plan-moyen-obtenant-leur-diplome_23-2148950544.avif" class="card-img-top h-50" alt="..." >
    <div class="card-body">
      <h5 class="card-title fw-bold">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio provident et at, dolore quae sint amet suscipit deserunt in, vel ad dolores consequuntur repudiandae itaque nemo perferendis? Vero, animi magni.</p>
    </div>
  </div>
  <div class="card">
    <img src="images/illustration-du-batiment-ecole_638438-385.avif" class="card-img-top h-50" alt="..." >
    <div class="card-body">
      <h5 class="card-title fw-bold">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, architecto nam libero expedita veniam quidem eum eligendi inventore qui accusantium obcaecati maxime repellendus sint enim. Iure ullam illum corporis ipsam.</p>
    </div>
  </div>
</div>
</div>
