<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>École Management</h5>
                <p>Système de gestion scolaire moderne et efficace.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>
                    <i class="fas fa-envelope"></i> contactecole-management.com<br>
                    <i class="fas fa-phone"></i> +221 XX XXX XX XX
                </p>
            </div>
            <div class="col-md-4">
                <h5>Adresse</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Dakar, Sénégal<br>
                    BP 1234 Dakar
                </p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>École Management. Tous droits réservés.</p>
        </div>
    </div>
</footer>