<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Formulaire Eleves👧👩‍🦲</h4>
            </div>
            <div class="col-4">
                <h4>Nombre de Eleves👧👩‍🦲</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <form [formGroup]="elevesform" (ngSubmit)="submitEleves()">
                <div class="row">
                    <div class="col-6">
                        <label for="nom" class="form-label">NOM</label>
                        <input type="nom" class="form-control" formControlName="nom" id="nom">
                    </div>
                    <div class="col-6">
                        <label for="prenom" class="form-label">Prenom</label>
                        <input type="prenom" class="form-control"  formControlName="prenom" id="prenom">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="adresse" class="form-label">Adresse</label>
                        <input type="adresse" class="form-control" formControlName="adresse" id="adresse">
                    </div>
                    <div class="col-6">
                        <label for="date_naissance"class="form-label">Date_naissance</label>
                        <input type="date_naissance" class="form-control" formControlName="date_naissance" id="date_naissance">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
