
#valor{
    display: block;
    margin-left: 120px;
    margin-top: 10px;
}
#cadre{
    display: block;
    margin-left: 500px;
    margin-top: -255px;
}
#cadres{
    display: block;
    margin-left: 120px;
    margin-top: -30px;
}
.mb-3{
    width: 300px;
}
.col-4{
    margin-top:6%;
    margin-left: 500px;
}
.col-4 h4{
    font-size: 30px;
    padding-top: 35px;
}
.card-body{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
form{
    display: block;
    margin-left: 200px;
    margin-top: 35px;
    height: 350px;
    width: 900px;
   padding-top: 1%;
    background-color: rgb(142, 181, 226);
    border-radius: 15px;
}
button{
   
    color: black;
    margin-left: 120px;
    padding-inline: 306px;
    margin-top: 10px;
}
