<div class="card container fluid">
  <div class="card-header">
      <div class="row">
          <div class="col-4">
            <h4> Liste des élèves</h4>
          </div>
          <div class="col-4">
            <h4> Nombre d'élèves </h4>
          </div>
          <div class="col-4">
            <button (click)="ajouter()">➕>Ajouter un élève</button>
          </div>

      </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">numero_carte</th>
      <th scope="col">prenom</th>
      <th scope="col">nom</th>
      <th scope="col">adresse</th>
      <th scope="col">telephone</th>
      <th scope="col">date_naissance</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor = "let classe of classes">
      <th scope="row">{{classe.nom  }}</th>
      <td>{{classe.numero_carte}}</td>
      <td>{{classe. prenom}}</td>
      <td>{{classe.nom}}</td>
      <td>{{classe.adresse}}</td>
      <td>{{classe.telephone}}</td>
      <td>{{classe.date_naissance}}</td>


      
    </tr>
      <td>
      <button (click)="modifier(e.id)">✏️ Modifier</button>
      <button (click)="supprimer(e.id)">🗑 Supprimer</button>
    </td>

  </tbody>
</table>
