<div class="card container-fluid">
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h4>Liste des élèves</h4>
        </div>
        <div class="col-4">
          <h4>Nombre d'élèves: {{ eleves?.length || 0 }}</h4>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" (click)="addEleve()">Ajouter un élève</button>
        </div>
      </div>
    </div>
  
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Matricule</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Date de naissance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eleve of eleves">
            <td>{{ eleve.numero_carte }}</td>
            <td>{{ eleve.prenom }}</td>
            <td>{{ eleve.nom }}</td>
            <td>{{ eleve.telephone }}</td>
            <td>{{ eleve.Adresse }}</td>
            <td>{{ eleve.date_naissance }}</td>
            <td>
              <button class="btn btn-warning btn-sm me-2" (click)="editEleve(eleve)">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteEleve(eleve)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  