<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Gestion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eleves" routerLinkActive="active">Élèves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/enseignants" routerLinkActive="active">Enseignants</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

