<p>navbar works!</p>
<nav class="navbar navbar-expand-lg bg-black text-white">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar scroll</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="enseignants/list-enseignant">enseignants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="eleves/list-eleve">eleves</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <app-list-eleve></app-list-eleve>
  <app-list-enseignant></app-list-enseignant>