<div class="card container-fluid">
  <div class="card-header">
      <div class="row">
          <div class="col-4">
              <h4>Liste des eleve</h4>
          </div>

          <div class="col-4">
              <h4>Nombre de eleve {{eleves?.length}}</h4>
          </div>

          <div class="col-4">
            <button class="btn btn-primary" (click)="addEleve()">Ajouter une eleve</button>
          </div>

      </div>

  </div>
  <div class="card-body">

  </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numero de Carte</th>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Adesse</th>
          <th scope="col">Telephone</th>
          <th scope="col">Date de naissance</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor= "let eleve of eleves"> 
          <th scope="row"> {{eleve.numero_carte}}</th>
          <th scope="row"> {{eleve.prenom}}</th>
          <th scope="row"> {{eleve.nom}}</th>
          <th scope="row"> {{eleve.adresse}}</th>
          <th scope="row"> {{eleve.telephone}}</th>
          <th scope="row"> {{eleve.	date_naissance}}</th>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="editEleve(eleve)">
              <i class="bi bi-pencil-square">Modifier</i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteEleve(eleve)">
            
              <i class="bi bi-trash">Supprimer</i>
            </button>
          </td>
         
        </tr>
       
      </tbody>
    </table>
 
</div>



