<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des élèves</h4>
      </div>

      <div class="col-4 text-center">
        <h4>Nombre d'élèves : {{ eleves?.length || 0 }}</h4>
      </div>

      <div class="col-4 text-end">
        <button class="btn btn-primary" (click)="addEleve()">Ajouter un élève</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Date de naissance</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let eleve of eleves; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ eleve.prenom }}</td>
          <td>{{ eleve.nom }}</td>
          <td>{{ eleve.adresse }}</td>
          <td>{{ eleve.telephone }}</td>
          <td>{{ eleve.date_naissance | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="editEleve(eleve)">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button class="btn btn-danger btn-sm" (click)="deleteEleve(eleve)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
