<div class="container my-3">
    <div class="row text-center text-info">
        <div class="col-12">
            <h1 class="fw-bold">Ajouter enseignants</h1>
        </div>
    </div>
    <form [formGroup]="enseignantForm" (ngSubmit)="storeEnseignant()">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label text-secondary fw-bold" for="nom">Nom</label>
            <input class="form-control" type="text" formControlName="nom" id="nom" required>
        </div>
        <div class="col-md-6">
            <label class="form-label text-secondary fw-bold" for="prenom">Prénom</label>
            <input class="form-control" type="text" formControlName="prenom" id="prenom" required>
        </div>
        <div class="col-md-6">
            <label class="form-label text-secondary fw-bold" for="adresse">Adresse</label>
            <input class="form-control" type="text" formControlName="adresse" id="adresse" required>
        </div>
        <div class="col-md-6">
            <label class="form-label text-secondary fw-bold" for="telephone">Téléphone</label>
            <input class="form-control" type="number" formControlName="telephone" id="telephone" required >
        </div>
        <div class="col-md-12">
            <label class="form-label text-secondary fw-bold" for="matricule">Matricule</label>
            <input class="form-control" type="text" formControlName="matricule" id="matricule" required >
        </div>
        <div class="col-md-12">
            <button class="btn btn-info fw-bold w-100 mt-2" type="submit">Ajouter</button>
        </div>
    </div>
    </form>
</div>
