<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des enseignants</h4>
      </div>

      <div class="col-4">
        <h4>Nombres des enseignants {{enseignants?.length}}</h4>
      </div>

      <div class="col-4">
        <button class="btn btn-primary" (click)="addEnseignant()">Ajouter une enseignant</button>
      </div>

    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">matricule</th>
          <th scope="col">prenom</th>
          <th scope="col">nom</th>
          <th scope="col">telephone</th>
          <th scope="col">adresse</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enseignant of enseignants">
          <th scope="row">{{enseignant.matricule}}</th>
          <td>{{enseignant.prenom}}</td>
          <td>{{enseignant.nom}}</td>
          <td>{{enseignant.telephone}}</td>
          <td>{{enseignant.adresse}}</td>
          <!-- Exemple dans une table ou une liste -->
         <td>
           <button class="btn btn-warning btn-sm me-2" (click)="editEnseignant(enseignant)">
           <i class="bi bi-pencil-square"></i>
           </button>
           <button class="btn btn-danger btn-sm" (click)="deleteEnseignant(enseignant)" >
             <i class="bi bi-trash"></i>
           </button>
         </td>
        </tr>

      </tbody>
      
    </table>
  </div>
</div>



