
<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Liste des enseignants</h4>
            </div>

            <div class="col-4">
                <h4>Nombre d'enseignants {{enseignants?.length}}</h4>
            </div>

            <div class="col-4">
                <button class="btn btn-primary" (click)="addEnseignants()">Ajouter un(e) enseignant(e)</button>
            </div>

        </div>

    </div>
    <div class="card-body">

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Matricule</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Telephone</th>
        </tr>
        </thead>
        <tbody >
          <tr *ngFor= "let enseignant of enseignants"> 
            <th scope="row"> {{enseignant.nom}}</th>
            <th>{{enseignant.prenom}}</th>
            <th> {{enseignant.adresse}}</th>
            <th> {{enseignant.telephone}}</th>
            <td>
                <button class="btn btn-warning btn-sm me-2" (click)="editEnseignants(enseignant)">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteEnseignants(enseignant)">              
                    <i class="bi bi-trash"></i>
                </button>
            </td>           
            </tr>        
        </tbody>
    </table>   
</div>




