
  <div class="card text-center" >
    <div class="card-header">
      Institut Superieur d'Enseignement Professionnelle de Diamniadio
    </div>
    <div class="card-body">
      <h5 class="card-title">Bienvenu sur mon premiere application Angular</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary" >Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
      ISEPD
    </div>
  </div>