<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid px-5">
    <a href="">
    <img src="images/10215133.png.png" style="width: 50px; height: 50px; border-radius: 100%;" class="me-3">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Enseignants
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" [routerLink]="['enseignants/form-enseignant']" routerLinkActive="router-link-active" >Ajouter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fw-bold" [routerLink]="['enseignants/list-enseignant']">List</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Eleves
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" [routerLink]="['eleves/form-eleve']" routerLinkActive="router-link-active" >Ajouter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fw-bold" [routerLink]="['eleves/list-eleve']">List</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-primary fw-bold" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
